// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.portfolioTitle {
  font-size: 1.5rem;
  font-weight: bold;
}

.portfolioDesc {
  font-style: italic;
}

.portfolioThumb {
  margin-bottom: 20px;
}